<form>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter name"
      />
      <small class="text-danger">Error!</small>
    </div>
    <div class="form-group">
      <label for="position">Position</label>
      <input
        type="text"
        class="form-control"
        id="position"
        placeholder="Enter position"
      />
      <small class="text-danger">Error!</small>
    </div>
    <div class="form-group">
      <label for="office">Office</label>
      <input
        class="form-control"
        type="text"
        name="office"
        id="office"
        placeholder="Enter office"
      />
      <small class="text-danger">Error!</small>
    </div>

    <div class="form-group">
      <label for="salary">Salary</label>
      <input
        class="form-control"
        type="number"
        name="salary"
        id="salary"
        placeholder="Enter salary"
      />
    </div>
    <small class="text-danger">Error!</small>
  </form>
