.background{
    background-color: #282c34;
}


td button{
    margin-right: 5px;
    width: 40%;
}

td button i{
    font-size: 15px;
}

.flex{
    display: flex;
    justify-content: space-between;
}



